@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #9966CC;
}

.container{
    width: 100%;
    max-width: 500px;
}

.form-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 10px;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 30px;
}

.form-group input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: .5rem;
    font-size: .87rem;
    outline: 0;
}

.form-group button{
    padding: 10px 12px;
    width: 200px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: .5rem;
    border: 0;
    outline: 0;
    background-color: #8A2BE2;
    color: #fff;
    transition: all .4s ease-in-out;
}

.form-group button:hover{
    background-color: #9400D3;
}

.result{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}

.box p{
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 600;
}

.box span{
    color: #848482;
}

@media screen and (max-width:540px) {
    .container{
        width: 100%;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-group{
        width: 100%;
        flex-direction: column;
    }

    .result{
        flex-direction: column;
    }

    .box{
       margin-bottom: 20px;
    }
}